main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
main .top {
    background: linear-gradient(to right, #867df6,#ff7d7d);
    font-size: 30px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: 116px;
    height: 25vh;
    min-height: 180px;
    left: 0;
    right: 0;
}
main .top h2 {
    user-select: none;
}