main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
main .top {
    background: linear-gradient(to right, #867df6,#ff7d7d);
    font-size: 30px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 35vh;
    left: 0;
    right: 0;
}
main .top h2 {
    padding-top: 10vh;
    user-select: none;
}

main .center {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    user-select: none;
    
    margin: 20px;
    left: 0;
    right: 0;
}
main .center .contact_cart {
    background: linear-gradient(#867df6,#ff7d7d);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 25px;
    margin: 20px;
    padding: 30px 20px 10px;
    width: 140px;
    height: 170px;
    border-radius: 16px;
    transition: 0.2s;
}

main .center .contact_cart.shake:hover {
  animation: shake 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}

main .center .contact_cart.scale:hover {
    transform: scale(1.2);
}
main .center .contact_cart i {
    font-size: 64px;
}

@keyframes shake {
    10%, 90% {
      transform: translateX(-0.5px);
     }
    20%, 80% {
      transform: translateX(1px);
    }
    30%, 50%, 70% {
      transform: translateX(-2px);
    }
    40%, 60% {
      transform: translateX(2px);
    }
}
