main {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
main .top {
    background: linear-gradient(to right, #867df6,#ff7d7d);
    font-size: 30px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 30px;
    height: 30vh;
    left: 0;
    right: 0;
}
main .top h2 {
    padding-top: 10%;
    user-select: none;
}
main .center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    left: 0;
    right: 0;
}
main .center .project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    height: 30vh;
    left: 0;
    right: 0;
}
main .center .project .info {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    transition: 0.2s;
}
main .center .project .gif {
    background-color: black;
    align-items: center;
    height: 100%;
    width: 50%;
}
